<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Adiconar nova competicao</h1>

    <form method="post"> 
        {% csrf_token %}

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="local">Local</label> 
        <input type="text" name="local" id="local">
        <label for="dataHora">DataHora</label>
        <input type="datetime" name="dataHora" id="dataHora">
        <label for="tipo">Tipo</label>
        <input type="text" name="tipo" id="tipo">
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>