<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Cadastrar Participante</h1>

    <form method="post"> 
        {% csrf_token %}

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="idade">Idade</label> 
        <input type="int" name="idade" id="idade">
        <label for="altura">Altura</label>
        <input type="float" name="altura" id="altura">
        <label for="peso">Peso</label>
        <input type="float" name="peso" id="peso">
        <button type="submit">Cadastrar</button>
        <hr>
    </form>

</body>
</html>